{{ if eq .Page.Title .Site.Title }}
<title>{{ .Site.Title }}</title>
{{ else }}
<title>{{ if ne .Page.Title "" }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
{{ end }}

<meta name="viewport" content="width=device-width" />

{{ if (isset .Params "redirect") -}}
<meta http-equiv="refresh" content="0;url={{ .Params.redirect }}" />
{{- end }}

{{ if isset .Site.Params "git_repo" -}}
<meta name="git_repo" content="{{ .Site.Params.git_repo }}" />
{{- end }}

{{ if isset .Site.Params "git_host" -}}
<meta name="git_host" content="{{ .Site.Params.git_host }}" />
{{- end }}

{{ if isset .Site.Params "git_branch" -}}
<meta name="git_branch" content="{{ .Site.Params.git_branch }}" />
{{- end }}

<meta name="content_path" content="content" />

{{ if isset .Params "description" }}
<meta name="description" content="{{ .Params.description }}">
{{ end }}

<!-- opengraph -->
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Page.Title }}" />
{{ if isset .Params "description" }}
<meta property="og:description" content="{{ .Params.description }}">
{{ end }}
{{ if isset .Params "image" }}
<meta property="og:image" content="{{ .Params.image | absURL }}" />
{{ end }}

<link rel="stylesheet" href='{{ "style.css" | absURL }}' />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<style>
body {
  font-family: "PT Sans", sans-serif;
}
</style>
